{% extends "base.html" %}
{% block styles %}
<style>

	</style>
{% endblock %}

{% block content %}




<br>
<br>

<input id="autoIrrigation" type="checkbox" name="switchExample" class="switch" checked="checked">
<label for="autoIrrigation">Automatic irrigation</label>
<br>
<br>
<input id="manualStatus" type="checkbox" name="switchExample" class="switch" disabled>
<label for="manualStatus">Enable irrigation</label disabled>
<br>
<br>
<input class="inputMoisture" type="text" placeholder="Current limit: 20%">
<button type="submit">Set</button>

  


<br>
<br>
<br>


<canvas id="temperature-chart" width="800" height="450"></canvas>
<br>

<canvas id="humidity-chart" width="800" height="450"></canvas>
<br>

<canvas id="moisture-chart" width="800" height="450"></canvas>
<br>

<script type="text/javascript">
	
new Chart(document.getElementById("temperature-chart"), {
	  type: 'line',
	  data: {
	    labels: [
	    	{% for item in data %}
	           "{{ item.datetime }}",
	        {% endfor %}
	    ],
	    datasets: [{ 
	        data: [
	        	{% for item in data %}
	           		"{{ item.temperature }}",
	        	{% endfor %}
	        ],
	        label: "Temperature",
	        borderColor: "#D66853",
	        fill: true
	      },
	    ]
	  },
});

new Chart(document.getElementById("humidity-chart"), {
	  type: 'line',
	  data: {
	    labels: [
	    	{% for item in data %}
	           "{{ item.datetime }}",
	        {% endfor %}
	    ],
	    datasets: [{ 
	        data: [
	        	{% for item in data %}
	           		"{{ item.humidity }}",
	        	{% endfor %}
	        ],
	        label: "Humidity",
	        borderColor: "#3e95cd",
	        fill: true
	      },
	    ]
	  },
});

new Chart(document.getElementById("moisture-chart"), {
	  type: 'line',
	  data: {
	    labels: [
	    	{% for item in data %}
	           "{{ item.datetime }}",
	        {% endfor %}
	    ],
	    datasets: [{ 
	        data: [
	        	{% for item in data %}
	           		"{{ item.moisture }}",
	        	{% endfor %}
	        ],
	        label: "Moisture",
	        borderColor: "#364156",
	        fill: true
	      },
	    ]
	  },
});
</script>
{% endblock %}